@import url("https://fonts.googleapis.com/css?family=Merriweather|Raleway");

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #75DDDD(92, 230, 211);
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 0%;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #172a3a;
  cursor: pointer;
}

.head {
  background-color: #75dddd;
  justify-content: space-around;
}

li {
  display: inline-block;
  margin: 1rem;
  cursor: pointer;
  color: white;
}

.nav-link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-size: 12px;
  border: 1px solid #508991;
  margin-left: 50px;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  padding: 8px;
  transition: ease;
  display: inline-block;
  border-bottom: px solid #508991;
  &:hover {
    background: #508991;
    padding: 8px;
    transition: ease;
    transform: scale(1.1);
  }
}
